.edit-container {
  width: 50%;
}
.input-fields {
  border-radius: 14px;
  border-width: 2px;
}

.edit-container {
  max-width: 600px;
  margin: 0 auto;
}

.form-control {
  margin-bottom: 15px;
}

.input-fields {
  border-radius: 5px;
}

.rounded-circle {
  border-radius: 50%;
}

.btn {
  cursor: pointer;
}

.btn-align {
  margin-right: 5px;
}

.text-muted {
  margin-top: 10px;
  font-size: 15px;
  letter-spacing: 0.3;
  line-height: 1.5;
}
