.divide-y > button {
  background-color: white;
  border: none !important;
  box-shadow: none !important;
  padding: 20px 0px !important;
  outline: none !important;
}

.divide-y > button:hover {
  background-color: white;
}

.divide-y button:focus {
  outline: none !important;
  box-shadow: none !important;
  color: #555555;
}

.divide-y button:focus-visible {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}

.divide-y button:focus-within {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}

div.px-5 {
  padding: 12px 12px !important;
}
