img {
  object-fit: cover;
}

.divide-y {
  border-radius: 12px;
  background-color: #1e293b;
  border: none;
  color: white;
  box-shadow:
    rgba(0, 0, 0, 0.16) 0px 3px 6px,
    rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.my-1.h-px.bg-gray-100 {
  background-color: #293240;
}

li > button {
  background-color: #1e293b !important;
}

li > button:hover {
  background-color: #384454 !important;
  border-radius: 5px;
}

svg {
  fill: #ffffffb3;
}

#default-search {
  padding: 14px 16px;
  padding-inline-start: 40px;
}

.css-dev-only-do-not-override-1k979oh.ant-float-btn.ant-float-btn-default.ant-float-btn-circle {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1e293b !important;
}

:where(.css-dev-only-do-not-override-1k979oh).ant-float-btn-default .ant-float-btn-body {
  background-color: #1e293b !important;
  transition: background-color 0.2s;
}

:where(.css-dev-only-do-not-override-1k979oh).ant-float-btn-default .ant-float-btn-body:hover {
  background-color: #183769 !important;
  transition: background-color 0.2s;
}

.ant-float-btn .ant-float-btn-body .ant-float-btn-content .ant-float-btn-icon {
  width: 24px;
  height: 24px;
}

.ant-float-btn-icon svg {
  width: 26px;
  height: 24px;
}
