.ant-input-affix-wrapper:hover {
  border-color: #818cf8;
}

.ant-input-affix-wrapper {
  padding: 10px 16px;
}

.ant-input-affix-wrapper:focus-within {
  border: 1px solid #818cf8;
}

.ant-input::placeholder {
  color: rgb(165, 165, 165);
  font-family: 'Roboto', sans-serif;
}
