<html lang="en" class="light-style layout-menu-fixed" dir="ltr" data-theme="theme-default" data-assets-path="../assets/"
    data-template="vertical-menu-template-free">

<head>
    <meta charset="utf-8" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title>Sneat Mobile</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="../assets/img/favicon/favicon.ico" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet" />

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="../assets/vendor/fonts/boxicons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="../assets/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="../assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="../assets/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

    <link rel="stylesheet" href="../assets/vendor/libs/apex-charts/apex-charts.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/viewerjs/dist/viewer.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/dropzone.min.css" rel="stylesheet">
    <!-- Page CSS -->

    <!-- Helpers -->
    <script src="../assets/vendor/js/helpers.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="../assets/js/config.js"></script>
    <script>
        //get token from local storage
        const token = JSON.parse(localStorage.getItem('data')).AccessToken;
        $(document).on("click", ".btn-logout", function (e) {
            e.preventDefault();
            $.ajax({
                url: '/api/user/logout',
                method: 'GET',
                headers: {
                    'Authorization': `Bearer ${token}`
                },
                success: function (data) {
                    localStorage.removeItem('data');
                    window.location.href = '/auth/login';
                },
                error: function (xhr, status, error) {
                    // Handle error
                    console.error(error);
                }
            });
        });
    </script>
</head>

<body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">
            <!-- Menu -->

            <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
                <div class="app-brand demo">
                    <a href="/admin/manager-user" class="app-brand-link">
                        <span class="app-brand-logo demo">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                width="500" zoomAndPan="magnify" viewBox="0 0 375 374.999991" height="500"
                                preserveAspectRatio="xMidYMid meet" version="1.0">
                                <defs>
                                    <clipPath id="1abb9f166c">
                                        <path
                                            d="M 44.554688 44.554688 L 330.304688 44.554688 L 330.304688 330.304688 L 44.554688 330.304688 Z M 44.554688 44.554688 "
                                            clip-rule="nonzero" />
                                    </clipPath>
                                    <clipPath id="fa17693782">
                                        <path
                                            d="M 330.445312 187.5 C 330.445312 189.835938 330.386719 192.175781 330.269531 194.511719 C 330.15625 196.847656 329.984375 199.179688 329.753906 201.507812 C 329.527344 203.835938 329.238281 206.160156 328.894531 208.472656 C 328.554688 210.785156 328.152344 213.089844 327.695312 215.386719 C 327.242188 217.679688 326.726562 219.960938 326.160156 222.230469 C 325.589844 224.5 324.96875 226.753906 324.289062 228.992188 C 323.609375 231.230469 322.875 233.453125 322.085938 235.65625 C 321.300781 237.859375 320.457031 240.039062 319.5625 242.199219 C 318.667969 244.363281 317.71875 246.5 316.71875 248.613281 C 315.71875 250.730469 314.667969 252.820312 313.566406 254.882812 C 312.460938 256.945312 311.308594 258.980469 310.105469 260.988281 C 308.902344 262.992188 307.652344 264.96875 306.351562 266.914062 C 305.054688 268.859375 303.707031 270.773438 302.3125 272.652344 C 300.917969 274.53125 299.480469 276.375 297.996094 278.183594 C 296.511719 279.988281 294.984375 281.761719 293.414062 283.496094 C 291.84375 285.226562 290.230469 286.921875 288.574219 288.574219 C 286.921875 290.230469 285.226562 291.84375 283.496094 293.414062 C 281.761719 294.984375 279.988281 296.511719 278.183594 297.996094 C 276.375 299.480469 274.53125 300.917969 272.652344 302.3125 C 270.773438 303.707031 268.859375 305.054688 266.914062 306.351562 C 264.96875 307.652344 262.992188 308.902344 260.988281 310.105469 C 258.980469 311.308594 256.945312 312.460938 254.882812 313.566406 C 252.820312 314.667969 250.730469 315.71875 248.613281 316.71875 C 246.5 317.71875 244.363281 318.667969 242.199219 319.5625 C 240.039062 320.457031 237.859375 321.300781 235.65625 322.085938 C 233.453125 322.875 231.230469 323.609375 228.992188 324.289062 C 226.753906 324.96875 224.5 325.589844 222.230469 326.160156 C 219.960938 326.726562 217.679688 327.242188 215.386719 327.695312 C 213.089844 328.152344 210.785156 328.554688 208.472656 328.894531 C 206.160156 329.238281 203.835938 329.527344 201.507812 329.753906 C 199.179688 329.984375 196.847656 330.15625 194.511719 330.269531 C 192.175781 330.386719 189.835938 330.445312 187.5 330.445312 C 185.160156 330.445312 182.820312 330.386719 180.484375 330.269531 C 178.148438 330.15625 175.816406 329.984375 173.488281 329.753906 C 171.160156 329.527344 168.835938 329.238281 166.523438 328.894531 C 164.210938 328.554688 161.90625 328.152344 159.609375 327.695312 C 157.316406 327.242188 155.035156 326.726562 152.765625 326.160156 C 150.496094 325.589844 148.242188 324.96875 146.003906 324.289062 C 143.765625 323.609375 141.542969 322.875 139.339844 322.085938 C 137.140625 321.300781 134.957031 320.457031 132.796875 319.5625 C 130.632812 318.667969 128.496094 317.71875 126.382812 316.71875 C 124.265625 315.71875 122.175781 314.667969 120.113281 313.566406 C 118.050781 312.460938 116.015625 311.308594 114.007812 310.105469 C 112.003906 308.902344 110.027344 307.652344 108.082031 306.351562 C 106.136719 305.054688 104.226562 303.707031 102.347656 302.3125 C 100.464844 300.917969 98.621094 299.480469 96.816406 297.996094 C 95.007812 296.511719 93.234375 294.984375 91.503906 293.414062 C 89.769531 291.84375 88.074219 290.230469 86.421875 288.574219 C 84.765625 286.921875 83.152344 285.226562 81.582031 283.496094 C 80.011719 281.761719 78.484375 279.988281 77 278.183594 C 75.515625 276.375 74.078125 274.53125 72.683594 272.652344 C 71.289062 270.773438 69.941406 268.859375 68.644531 266.914062 C 67.34375 264.96875 66.09375 262.992188 64.890625 260.988281 C 63.6875 258.980469 62.535156 256.945312 61.433594 254.882812 C 60.328125 252.820312 59.277344 250.730469 58.277344 248.613281 C 57.277344 246.5 56.328125 244.363281 55.433594 242.199219 C 54.539062 240.039062 53.695312 237.859375 52.910156 235.65625 C 52.121094 233.453125 51.386719 231.230469 50.707031 228.992188 C 50.027344 226.753906 49.40625 224.5 48.835938 222.230469 C 48.269531 219.960938 47.757812 217.679688 47.300781 215.386719 C 46.84375 213.089844 46.441406 210.785156 46.101562 208.472656 C 45.757812 206.160156 45.46875 203.835938 45.242188 201.507812 C 45.011719 199.179688 44.839844 196.847656 44.726562 194.511719 C 44.609375 192.175781 44.554688 189.835938 44.554688 187.5 C 44.554688 185.160156 44.609375 182.820312 44.726562 180.484375 C 44.839844 178.148438 45.011719 175.816406 45.242188 173.488281 C 45.46875 171.160156 45.757812 168.835938 46.101562 166.523438 C 46.441406 164.210938 46.84375 161.90625 47.300781 159.609375 C 47.757812 157.316406 48.269531 155.035156 48.835938 152.765625 C 49.40625 150.496094 50.027344 148.242188 50.707031 146.003906 C 51.386719 143.765625 52.121094 141.542969 52.910156 139.339844 C 53.695312 137.140625 54.539062 134.957031 55.433594 132.796875 C 56.328125 130.632812 57.277344 128.496094 58.277344 126.382812 C 59.277344 124.265625 60.328125 122.175781 61.433594 120.113281 C 62.535156 118.050781 63.6875 116.015625 64.890625 114.007812 C 66.09375 112.003906 67.34375 110.027344 68.644531 108.082031 C 69.941406 106.136719 71.289062 104.226562 72.683594 102.347656 C 74.078125 100.464844 75.515625 98.621094 77 96.816406 C 78.484375 95.007812 80.011719 93.234375 81.582031 91.503906 C 83.152344 89.769531 84.765625 88.074219 86.421875 86.421875 C 88.074219 84.765625 89.769531 83.152344 91.503906 81.582031 C 93.234375 80.011719 95.007812 78.484375 96.816406 77 C 98.621094 75.515625 100.464844 74.078125 102.347656 72.683594 C 104.226562 71.289062 106.136719 69.941406 108.082031 68.644531 C 110.027344 67.34375 112.003906 66.09375 114.007812 64.890625 C 116.015625 63.6875 118.050781 62.535156 120.113281 61.433594 C 122.175781 60.328125 124.265625 59.277344 126.382812 58.277344 C 128.496094 57.277344 130.632812 56.328125 132.796875 55.433594 C 134.957031 54.539062 137.140625 53.695312 139.339844 52.910156 C 141.542969 52.121094 143.765625 51.386719 146.003906 50.707031 C 148.242188 50.027344 150.496094 49.40625 152.765625 48.835938 C 155.035156 48.269531 157.316406 47.757812 159.609375 47.300781 C 161.90625 46.84375 164.210938 46.441406 166.523438 46.101562 C 168.835938 45.757812 171.160156 45.46875 173.488281 45.242188 C 175.816406 45.011719 178.148438 44.839844 180.484375 44.726562 C 182.820312 44.609375 185.160156 44.554688 187.5 44.554688 C 189.835938 44.554688 192.175781 44.609375 194.511719 44.726562 C 196.847656 44.839844 199.179688 45.011719 201.507812 45.242188 C 203.835938 45.46875 206.160156 45.757812 208.472656 46.101562 C 210.785156 46.441406 213.089844 46.84375 215.386719 47.300781 C 217.679688 47.757812 219.960938 48.269531 222.230469 48.835938 C 224.5 49.40625 226.753906 50.027344 228.992188 50.707031 C 231.230469 51.386719 233.453125 52.121094 235.65625 52.910156 C 237.859375 53.695312 240.039062 54.539062 242.199219 55.433594 C 244.363281 56.328125 246.5 57.277344 248.613281 58.277344 C 250.730469 59.277344 252.820312 60.328125 254.882812 61.433594 C 256.945312 62.535156 258.980469 63.6875 260.988281 64.890625 C 262.992188 66.09375 264.96875 67.34375 266.914062 68.644531 C 268.859375 69.941406 270.773438 71.289062 272.652344 72.683594 C 274.53125 74.078125 276.375 75.515625 278.183594 77 C 279.988281 78.484375 281.761719 80.011719 283.496094 81.582031 C 285.226562 83.152344 286.921875 84.765625 288.574219 86.421875 C 290.230469 88.074219 291.84375 89.769531 293.414062 91.503906 C 294.984375 93.234375 296.511719 95.007812 297.996094 96.816406 C 299.480469 98.621094 300.917969 100.464844 302.3125 102.347656 C 303.707031 104.226562 305.054688 106.136719 306.351562 108.082031 C 307.652344 110.027344 308.902344 112.003906 310.105469 114.007812 C 311.308594 116.015625 312.460938 118.050781 313.566406 120.113281 C 314.667969 122.175781 315.71875 124.265625 316.71875 126.382812 C 317.71875 128.496094 318.667969 130.632812 319.5625 132.796875 C 320.457031 134.957031 321.300781 137.140625 322.085938 139.339844 C 322.875 141.542969 323.609375 143.765625 324.289062 146.003906 C 324.96875 148.242188 325.589844 150.496094 326.160156 152.765625 C 326.726562 155.035156 327.242188 157.316406 327.695312 159.609375 C 328.152344 161.90625 328.554688 164.210938 328.894531 166.523438 C 329.238281 168.835938 329.527344 171.160156 329.753906 173.488281 C 329.984375 175.816406 330.15625 178.148438 330.269531 180.484375 C 330.386719 182.820312 330.445312 185.160156 330.445312 187.5 Z M 330.445312 187.5 "
                                            clip-rule="nonzero" />
                                    </clipPath>
                                    <linearGradient x1="245.379918"
                                        gradientTransform="matrix(0.990354, 0.571781, 0.571781, -0.990354, -192.261371, 297.24409)"
                                        y1="425.217641" x2="233.902697" gradientUnits="userSpaceOnUse" y2="73.126701"
                                        id="b6fd4cefe2">
                                        <stop stop-opacity="1" stop-color="rgb(36.898804%, 8.999634%, 92.199707%)"
                                            offset="0" />
                                        <stop stop-opacity="1" stop-color="rgb(36.898804%, 8.999634%, 92.199707%)"
                                            offset="0.0315683" />
                                        <stop stop-opacity="1" stop-color="rgb(36.898804%, 8.999634%, 92.199707%)"
                                            offset="0.125" />
                                        <stop stop-opacity="1" stop-color="rgb(36.898804%, 8.999634%, 92.199707%)"
                                            offset="0.140625" />
                                        <stop stop-opacity="1" stop-color="rgb(36.886597%, 9.094238%, 92.219543%)"
                                            offset="0.148438" />
                                        <stop stop-opacity="1" stop-color="rgb(36.842346%, 9.420776%, 92.29126%)"
                                            offset="0.152344" />
                                        <stop stop-opacity="1" stop-color="rgb(36.811829%, 9.654236%, 92.34314%)"
                                            offset="0.15625" />
                                        <stop stop-opacity="1" stop-color="rgb(36.781311%, 9.886169%, 92.39502%)"
                                            offset="0.160156" />
                                        <stop stop-opacity="1" stop-color="rgb(36.750793%, 10.118103%, 92.446899%)"
                                            offset="0.164062" />
                                        <stop stop-opacity="1" stop-color="rgb(36.71875%, 10.350037%, 92.497253%)"
                                            offset="0.167969" />
                                        <stop stop-opacity="1" stop-color="rgb(36.688232%, 10.58197%, 92.549133%)"
                                            offset="0.171875" />
                                        <stop stop-opacity="1" stop-color="rgb(36.657715%, 10.813904%, 92.599487%)"
                                            offset="0.175781" />
                                        <stop stop-opacity="1" stop-color="rgb(36.627197%, 11.045837%, 92.651367%)"
                                            offset="0.179688" />
                                        <stop stop-opacity="1" stop-color="rgb(36.595154%, 11.277771%, 92.701721%)"
                                            offset="0.183594" />
                                        <stop stop-opacity="1" stop-color="rgb(36.564636%, 11.509705%, 92.753601%)"
                                            offset="0.1875" />
                                        <stop stop-opacity="1" stop-color="rgb(36.534119%, 11.741638%, 92.805481%)"
                                            offset="0.191406" />
                                        <stop stop-opacity="1" stop-color="rgb(36.503601%, 11.975098%, 92.857361%)"
                                            offset="0.195312" />
                                        <stop stop-opacity="1" stop-color="rgb(36.471558%, 12.207031%, 92.907715%)"
                                            offset="0.199219" />
                                        <stop stop-opacity="1" stop-color="rgb(36.44104%, 12.438965%, 92.959595%)"
                                            offset="0.203125" />
                                        <stop stop-opacity="1" stop-color="rgb(36.410522%, 12.670898%, 93.009949%)"
                                            offset="0.207031" />
                                        <stop stop-opacity="1" stop-color="rgb(36.380005%, 12.902832%, 93.061829%)"
                                            offset="0.210938" />
                                        <stop stop-opacity="1" stop-color="rgb(36.347961%, 13.134766%, 93.112183%)"
                                            offset="0.214844" />
                                        <stop stop-opacity="1" stop-color="rgb(36.317444%, 13.366699%, 93.164062%)"
                                            offset="0.21875" />
                                        <stop stop-opacity="1" stop-color="rgb(36.286926%, 13.598633%, 93.214417%)"
                                            offset="0.222656" />
                                        <stop stop-opacity="1" stop-color="rgb(36.256409%, 13.830566%, 93.266296%)"
                                            offset="0.226563" />
                                        <stop stop-opacity="1" stop-color="rgb(36.224365%, 14.0625%, 93.318176%)"
                                            offset="0.230469" />
                                        <stop stop-opacity="1" stop-color="rgb(36.193848%, 14.295959%, 93.370056%)"
                                            offset="0.234375" />
                                        <stop stop-opacity="1" stop-color="rgb(36.16333%, 14.527893%, 93.42041%)"
                                            offset="0.238281" />
                                        <stop stop-opacity="1" stop-color="rgb(36.132812%, 14.759827%, 93.47229%)"
                                            offset="0.242188" />
                                        <stop stop-opacity="1" stop-color="rgb(36.100769%, 14.99176%, 93.522644%)"
                                            offset="0.246094" />
                                        <stop stop-opacity="1" stop-color="rgb(36.070251%, 15.223694%, 93.574524%)"
                                            offset="0.25" />
                                        <stop stop-opacity="1" stop-color="rgb(36.039734%, 15.455627%, 93.624878%)"
                                            offset="0.253906" />
                                        <stop stop-opacity="1" stop-color="rgb(36.009216%, 15.687561%, 93.676758%)"
                                            offset="0.257812" />
                                        <stop stop-opacity="1" stop-color="rgb(35.977173%, 15.919495%, 93.727112%)"
                                            offset="0.261719" />
                                        <stop stop-opacity="1" stop-color="rgb(35.946655%, 16.151428%, 93.778992%)"
                                            offset="0.265625" />
                                        <stop stop-opacity="1" stop-color="rgb(35.916138%, 16.383362%, 93.830872%)"
                                            offset="0.269531" />
                                        <stop stop-opacity="1" stop-color="rgb(35.88562%, 16.616821%, 93.882751%)"
                                            offset="0.273438" />
                                        <stop stop-opacity="1" stop-color="rgb(35.853577%, 16.848755%, 93.933105%)"
                                            offset="0.277344" />
                                        <stop stop-opacity="1" stop-color="rgb(35.823059%, 17.080688%, 93.984985%)"
                                            offset="0.28125" />
                                        <stop stop-opacity="1" stop-color="rgb(35.792542%, 17.312622%, 94.035339%)"
                                            offset="0.285156" />
                                        <stop stop-opacity="1" stop-color="rgb(35.762024%, 17.544556%, 94.087219%)"
                                            offset="0.289063" />
                                        <stop stop-opacity="1" stop-color="rgb(35.72998%, 17.776489%, 94.137573%)"
                                            offset="0.292969" />
                                        <stop stop-opacity="1" stop-color="rgb(35.699463%, 18.008423%, 94.189453%)"
                                            offset="0.296875" />
                                        <stop stop-opacity="1" stop-color="rgb(35.668945%, 18.240356%, 94.241333%)"
                                            offset="0.300781" />
                                        <stop stop-opacity="1" stop-color="rgb(35.638428%, 18.47229%, 94.293213%)"
                                            offset="0.304688" />
                                        <stop stop-opacity="1" stop-color="rgb(35.606384%, 18.704224%, 94.343567%)"
                                            offset="0.308594" />
                                        <stop stop-opacity="1" stop-color="rgb(35.575867%, 18.937683%, 94.395447%)"
                                            offset="0.3125" />
                                        <stop stop-opacity="1" stop-color="rgb(35.545349%, 19.169617%, 94.445801%)"
                                            offset="0.316406" />
                                        <stop stop-opacity="1" stop-color="rgb(35.514832%, 19.40155%, 94.497681%)"
                                            offset="0.320313" />
                                        <stop stop-opacity="1" stop-color="rgb(35.482788%, 19.633484%, 94.548035%)"
                                            offset="0.324219" />
                                        <stop stop-opacity="1" stop-color="rgb(35.452271%, 19.865417%, 94.599915%)"
                                            offset="0.328125" />
                                        <stop stop-opacity="1" stop-color="rgb(35.421753%, 20.097351%, 94.650269%)"
                                            offset="0.332031" />
                                        <stop stop-opacity="1" stop-color="rgb(35.391235%, 20.329285%, 94.702148%)"
                                            offset="0.335938" />
                                        <stop stop-opacity="1" stop-color="rgb(35.359192%, 20.561218%, 94.754028%)"
                                            offset="0.339844" />
                                        <stop stop-opacity="1" stop-color="rgb(35.328674%, 20.793152%, 94.805908%)"
                                            offset="0.34375" />
                                        <stop stop-opacity="1" stop-color="rgb(35.298157%, 21.025085%, 94.856262%)"
                                            offset="0.347656" />
                                        <stop stop-opacity="1" stop-color="rgb(35.267639%, 21.258545%, 94.908142%)"
                                            offset="0.351562" />
                                        <stop stop-opacity="1" stop-color="rgb(35.235596%, 21.490479%, 94.958496%)"
                                            offset="0.355469" />
                                        <stop stop-opacity="1" stop-color="rgb(35.205078%, 21.722412%, 95.010376%)"
                                            offset="0.359375" />
                                        <stop stop-opacity="1" stop-color="rgb(35.174561%, 21.954346%, 95.06073%)"
                                            offset="0.363281" />
                                        <stop stop-opacity="1" stop-color="rgb(35.144043%, 22.186279%, 95.11261%)"
                                            offset="0.367188" />
                                        <stop stop-opacity="1" stop-color="rgb(35.112%, 22.418213%, 95.16449%)"
                                            offset="0.371094" />
                                        <stop stop-opacity="1" stop-color="rgb(35.081482%, 22.650146%, 95.21637%)"
                                            offset="0.375" />
                                        <stop stop-opacity="1" stop-color="rgb(35.050964%, 22.88208%, 95.266724%)"
                                            offset="0.378906" />
                                        <stop stop-opacity="1" stop-color="rgb(35.020447%, 23.114014%, 95.318604%)"
                                            offset="0.382812" />
                                        <stop stop-opacity="1" stop-color="rgb(34.988403%, 23.345947%, 95.368958%)"
                                            offset="0.386719" />
                                        <stop stop-opacity="1" stop-color="rgb(34.957886%, 23.579407%, 95.420837%)"
                                            offset="0.390625" />
                                        <stop stop-opacity="1" stop-color="rgb(34.927368%, 23.81134%, 95.471191%)"
                                            offset="0.394531" />
                                        <stop stop-opacity="1" stop-color="rgb(34.896851%, 24.043274%, 95.523071%)"
                                            offset="0.398438" />
                                        <stop stop-opacity="1" stop-color="rgb(34.864807%, 24.275208%, 95.573425%)"
                                            offset="0.402344" />
                                        <stop stop-opacity="1" stop-color="rgb(34.83429%, 24.507141%, 95.625305%)"
                                            offset="0.40625" />
                                        <stop stop-opacity="1" stop-color="rgb(34.803772%, 24.739075%, 95.677185%)"
                                            offset="0.410156" />
                                        <stop stop-opacity="1" stop-color="rgb(34.773254%, 24.971008%, 95.729065%)"
                                            offset="0.414062" />
                                        <stop stop-opacity="1" stop-color="rgb(34.741211%, 25.202942%, 95.779419%)"
                                            offset="0.417969" />
                                        <stop stop-opacity="1" stop-color="rgb(34.710693%, 25.434875%, 95.831299%)"
                                            offset="0.421875" />
                                        <stop stop-opacity="1" stop-color="rgb(34.680176%, 25.666809%, 95.881653%)"
                                            offset="0.425781" />
                                        <stop stop-opacity="1" stop-color="rgb(34.649658%, 25.900269%, 95.933533%)"
                                            offset="0.429688" />
                                        <stop stop-opacity="1" stop-color="rgb(34.617615%, 26.132202%, 95.983887%)"
                                            offset="0.433594" />
                                        <stop stop-opacity="1" stop-color="rgb(34.587097%, 26.364136%, 96.035767%)"
                                            offset="0.4375" />
                                        <stop stop-opacity="1" stop-color="rgb(34.55658%, 26.596069%, 96.086121%)"
                                            offset="0.441406" />
                                        <stop stop-opacity="1" stop-color="rgb(34.526062%, 26.828003%, 96.138%)"
                                            offset="0.445313" />
                                        <stop stop-opacity="1" stop-color="rgb(34.494019%, 27.059937%, 96.18988%)"
                                            offset="0.449219" />
                                        <stop stop-opacity="1" stop-color="rgb(34.463501%, 27.29187%, 96.24176%)"
                                            offset="0.453125" />
                                        <stop stop-opacity="1" stop-color="rgb(34.432983%, 27.523804%, 96.292114%)"
                                            offset="0.457031" />
                                        <stop stop-opacity="1" stop-color="rgb(34.402466%, 27.755737%, 96.343994%)"
                                            offset="0.460938" />
                                        <stop stop-opacity="1" stop-color="rgb(34.370422%, 27.987671%, 96.394348%)"
                                            offset="0.464844" />
                                        <stop stop-opacity="1" stop-color="rgb(34.339905%, 28.22113%, 96.446228%)"
                                            offset="0.46875" />
                                        <stop stop-opacity="1" stop-color="rgb(34.309387%, 28.453064%, 96.496582%)"
                                            offset="0.472656" />
                                        <stop stop-opacity="1" stop-color="rgb(34.27887%, 28.684998%, 96.548462%)"
                                            offset="0.476563" />
                                        <stop stop-opacity="1" stop-color="rgb(34.246826%, 28.916931%, 96.600342%)"
                                            offset="0.480469" />
                                        <stop stop-opacity="1" stop-color="rgb(34.216309%, 29.148865%, 96.652222%)"
                                            offset="0.484375" />
                                        <stop stop-opacity="1" stop-color="rgb(34.185791%, 29.380798%, 96.702576%)"
                                            offset="0.488281" />
                                        <stop stop-opacity="1" stop-color="rgb(34.155273%, 29.612732%, 96.754456%)"
                                            offset="0.492188" />
                                        <stop stop-opacity="1" stop-color="rgb(34.12323%, 29.844666%, 96.80481%)"
                                            offset="0.496094" />
                                        <stop stop-opacity="1" stop-color="rgb(34.092712%, 30.076599%, 96.856689%)"
                                            offset="0.5" />
                                        <stop stop-opacity="1" stop-color="rgb(34.062195%, 30.308533%, 96.907043%)"
                                            offset="0.503906" />
                                        <stop stop-opacity="1" stop-color="rgb(34.031677%, 30.541992%, 96.958923%)"
                                            offset="0.507812" />
                                        <stop stop-opacity="1" stop-color="rgb(33.999634%, 30.773926%, 97.009277%)"
                                            offset="0.511719" />
                                        <stop stop-opacity="1" stop-color="rgb(33.969116%, 31.005859%, 97.061157%)"
                                            offset="0.515625" />
                                        <stop stop-opacity="1" stop-color="rgb(33.938599%, 31.237793%, 97.113037%)"
                                            offset="0.519531" />
                                        <stop stop-opacity="1" stop-color="rgb(33.908081%, 31.469727%, 97.164917%)"
                                            offset="0.523438" />
                                        <stop stop-opacity="1" stop-color="rgb(33.876038%, 31.70166%, 97.215271%)"
                                            offset="0.527344" />
                                        <stop stop-opacity="1" stop-color="rgb(33.84552%, 31.933594%, 97.267151%)"
                                            offset="0.53125" />
                                        <stop stop-opacity="1" stop-color="rgb(33.815002%, 32.165527%, 97.317505%)"
                                            offset="0.535156" />
                                        <stop stop-opacity="1" stop-color="rgb(33.784485%, 32.397461%, 97.369385%)"
                                            offset="0.539062" />
                                        <stop stop-opacity="1" stop-color="rgb(33.752441%, 32.629395%, 97.419739%)"
                                            offset="0.542969" />
                                        <stop stop-opacity="1" stop-color="rgb(33.721924%, 32.862854%, 97.471619%)"
                                            offset="0.546875" />
                                        <stop stop-opacity="1" stop-color="rgb(33.691406%, 33.094788%, 97.523499%)"
                                            offset="0.550781" />
                                        <stop stop-opacity="1" stop-color="rgb(33.660889%, 33.326721%, 97.575378%)"
                                            offset="0.554688" />
                                        <stop stop-opacity="1" stop-color="rgb(33.628845%, 33.558655%, 97.625732%)"
                                            offset="0.558594" />
                                        <stop stop-opacity="1" stop-color="rgb(33.598328%, 33.790588%, 97.677612%)"
                                            offset="0.5625" />
                                        <stop stop-opacity="1" stop-color="rgb(33.56781%, 34.022522%, 97.727966%)"
                                            offset="0.566406" />
                                        <stop stop-opacity="1" stop-color="rgb(33.537292%, 34.254456%, 97.779846%)"
                                            offset="0.570313" />
                                        <stop stop-opacity="1" stop-color="rgb(33.505249%, 34.486389%, 97.8302%)"
                                            offset="0.574219" />
                                        <stop stop-opacity="1" stop-color="rgb(33.474731%, 34.718323%, 97.88208%)"
                                            offset="0.578125" />
                                        <stop stop-opacity="1" stop-color="rgb(33.444214%, 34.950256%, 97.932434%)"
                                            offset="0.582031" />
                                        <stop stop-opacity="1" stop-color="rgb(33.413696%, 35.183716%, 97.984314%)"
                                            offset="0.585938" />
                                        <stop stop-opacity="1" stop-color="rgb(33.381653%, 35.415649%, 98.036194%)"
                                            offset="0.589844" />
                                        <stop stop-opacity="1" stop-color="rgb(33.351135%, 35.647583%, 98.088074%)"
                                            offset="0.59375" />
                                        <stop stop-opacity="1" stop-color="rgb(33.320618%, 35.879517%, 98.138428%)"
                                            offset="0.597656" />
                                        <stop stop-opacity="1" stop-color="rgb(33.2901%, 36.11145%, 98.190308%)"
                                            offset="0.601563" />
                                        <stop stop-opacity="1" stop-color="rgb(33.258057%, 36.343384%, 98.240662%)"
                                            offset="0.605469" />
                                        <stop stop-opacity="1" stop-color="rgb(33.227539%, 36.575317%, 98.292542%)"
                                            offset="0.609375" />
                                        <stop stop-opacity="1" stop-color="rgb(33.197021%, 36.807251%, 98.342896%)"
                                            offset="0.613281" />
                                        <stop stop-opacity="1" stop-color="rgb(33.166504%, 37.039185%, 98.394775%)"
                                            offset="0.617188" />
                                        <stop stop-opacity="1" stop-color="rgb(33.13446%, 37.271118%, 98.445129%)"
                                            offset="0.621094" />
                                        <stop stop-opacity="1" stop-color="rgb(33.103943%, 37.504578%, 98.497009%)"
                                            offset="0.625" />
                                        <stop stop-opacity="1" stop-color="rgb(33.073425%, 37.736511%, 98.548889%)"
                                            offset="0.628906" />
                                        <stop stop-opacity="1" stop-color="rgb(33.042908%, 37.968445%, 98.600769%)"
                                            offset="0.632812" />
                                        <stop stop-opacity="1" stop-color="rgb(33.010864%, 38.200378%, 98.651123%)"
                                            offset="0.636719" />
                                        <stop stop-opacity="1" stop-color="rgb(32.980347%, 38.432312%, 98.703003%)"
                                            offset="0.640625" />
                                        <stop stop-opacity="1" stop-color="rgb(32.949829%, 38.664246%, 98.753357%)"
                                            offset="0.644531" />
                                        <stop stop-opacity="1" stop-color="rgb(32.919312%, 38.896179%, 98.805237%)"
                                            offset="0.648438" />
                                        <stop stop-opacity="1" stop-color="rgb(32.887268%, 39.128113%, 98.855591%)"
                                            offset="0.652344" />
                                        <stop stop-opacity="1" stop-color="rgb(32.85675%, 39.360046%, 98.907471%)"
                                            offset="0.65625" />
                                        <stop stop-opacity="1" stop-color="rgb(32.826233%, 39.59198%, 98.959351%)"
                                            offset="0.660156" />
                                        <stop stop-opacity="1" stop-color="rgb(32.795715%, 39.825439%, 99.01123%)"
                                            offset="0.664063" />
                                        <stop stop-opacity="1" stop-color="rgb(32.763672%, 40.057373%, 99.061584%)"
                                            offset="0.667969" />
                                        <stop stop-opacity="1" stop-color="rgb(32.733154%, 40.289307%, 99.113464%)"
                                            offset="0.671875" />
                                        <stop stop-opacity="1" stop-color="rgb(32.702637%, 40.52124%, 99.163818%)"
                                            offset="0.675781" />
                                        <stop stop-opacity="1" stop-color="rgb(32.672119%, 40.753174%, 99.215698%)"
                                            offset="0.679688" />
                                        <stop stop-opacity="1" stop-color="rgb(32.640076%, 40.985107%, 99.266052%)"
                                            offset="0.683594" />
                                        <stop stop-opacity="1" stop-color="rgb(32.609558%, 41.217041%, 99.317932%)"
                                            offset="0.6875" />
                                        <stop stop-opacity="1" stop-color="rgb(32.579041%, 41.448975%, 99.368286%)"
                                            offset="0.691406" />
                                        <stop stop-opacity="1" stop-color="rgb(32.548523%, 41.680908%, 99.420166%)"
                                            offset="0.695313" />
                                        <stop stop-opacity="1" stop-color="rgb(32.516479%, 41.912842%, 99.472046%)"
                                            offset="0.699219" />
                                        <stop stop-opacity="1" stop-color="rgb(32.485962%, 42.146301%, 99.523926%)"
                                            offset="0.703125" />
                                        <stop stop-opacity="1" stop-color="rgb(32.453918%, 42.378235%, 99.57428%)"
                                            offset="0.707031" />
                                        <stop stop-opacity="1" stop-color="rgb(32.423401%, 42.610168%, 99.62616%)"
                                            offset="0.710938" />
                                        <stop stop-opacity="1" stop-color="rgb(32.392883%, 42.842102%, 99.676514%)"
                                            offset="0.714844" />
                                        <stop stop-opacity="1" stop-color="rgb(32.362366%, 43.074036%, 99.728394%)"
                                            offset="0.71875" />
                                        <stop stop-opacity="1" stop-color="rgb(32.330322%, 43.305969%, 99.778748%)"
                                            offset="0.722656" />
                                        <stop stop-opacity="1" stop-color="rgb(32.299805%, 43.537903%, 99.830627%)"
                                            offset="0.726563" />
                                        <stop stop-opacity="1" stop-color="rgb(32.269287%, 43.769836%, 99.882507%)"
                                            offset="0.730469" />
                                        <stop stop-opacity="1" stop-color="rgb(32.23877%, 44.00177%, 99.934387%)"
                                            offset="0.734375" />
                                        <stop stop-opacity="1" stop-color="rgb(32.218933%, 44.14978%, 99.966431%)"
                                            offset="0.75" />
                                        <stop stop-opacity="1" stop-color="rgb(32.199097%, 44.299316%, 100%)"
                                            offset="0.968432" />
                                        <stop stop-opacity="1" stop-color="rgb(32.199097%, 44.299316%, 100%)"
                                            offset="1" />
                                    </linearGradient>
                                    <clipPath id="a81b9c5e72">
                                        <path
                                            d="M 73.582031 73.582031 L 301.582031 73.582031 L 301.582031 301.582031 L 73.582031 301.582031 Z M 73.582031 73.582031 "
                                            clip-rule="nonzero" />
                                    </clipPath>
                                </defs>
                                <rect x="-37.5" width="450" fill="#ffffff" y="-37.499999" height="449.999989"
                                    fill-opacity="1" />
                                <rect x="-37.5" width="450" fill="#8c52ff" y="-37.499999" height="449.999989"
                                    fill-opacity="1" />
                                <g clip-path="url(#1abb9f166c)">
                                    <g clip-path="url(#fa17693782)">
                                        <path fill="url(#b6fd4cefe2)"
                                            d="M -79.179688 258.867188 L 115.992188 -79.179688 L 454.035156 115.992188 L 258.867188 454.035156 Z M -79.179688 258.867188 "
                                            fill-rule="nonzero" />
                                    </g>
                                </g>
                                <g clip-path="url(#a81b9c5e72)">
                                    <path fill="#fff6e8"
                                        d="M 187.5 73.582031 C 185.636719 73.582031 183.773438 73.628906 181.910156 73.71875 C 180.046875 73.808594 178.1875 73.945312 176.332031 74.128906 C 174.476562 74.3125 172.628906 74.539062 170.785156 74.8125 C 168.941406 75.089844 167.105469 75.40625 165.273438 75.769531 C 163.445312 76.132812 161.628906 76.542969 159.820312 76.996094 C 158.011719 77.449219 156.214844 77.945312 154.429688 78.488281 C 152.648438 79.027344 150.875 79.613281 149.121094 80.242188 C 147.367188 80.867188 145.628906 81.539062 143.90625 82.253906 C 142.183594 82.964844 140.476562 83.722656 138.792969 84.519531 C 137.109375 85.316406 135.441406 86.152344 133.796875 87.03125 C 132.15625 87.910156 130.53125 88.832031 128.933594 89.789062 C 127.335938 90.746094 125.761719 91.746094 124.210938 92.78125 C 122.660156 93.816406 121.136719 94.890625 119.636719 96 C 118.140625 97.109375 116.671875 98.257812 115.230469 99.441406 C 113.789062 100.621094 112.378906 101.839844 110.996094 103.089844 C 109.617188 104.34375 108.265625 105.628906 106.945312 106.945312 C 105.628906 108.265625 104.34375 109.617188 103.089844 110.996094 C 101.839844 112.378906 100.621094 113.789062 99.441406 115.230469 C 98.257812 116.671875 97.109375 118.140625 96 119.636719 C 94.890625 121.136719 93.816406 122.660156 92.78125 124.210938 C 91.746094 125.761719 90.746094 127.335938 89.789062 128.933594 C 88.832031 130.53125 87.910156 132.15625 87.03125 133.796875 C 86.152344 135.441406 85.316406 137.109375 84.519531 138.792969 C 83.722656 140.476562 82.964844 142.183594 82.253906 143.90625 C 81.539062 145.628906 80.867188 147.367188 80.242188 149.121094 C 79.613281 150.875 79.027344 152.648438 78.488281 154.429688 C 77.945312 156.214844 77.449219 158.011719 76.996094 159.820312 C 76.542969 161.628906 76.132812 163.445312 75.769531 165.273438 C 75.40625 167.105469 75.089844 168.941406 74.8125 170.785156 C 74.539062 172.628906 74.3125 174.476562 74.128906 176.332031 C 73.945312 178.1875 73.808594 180.046875 73.71875 181.910156 C 73.628906 183.773438 73.582031 185.636719 73.582031 187.5 C 73.582031 189.363281 73.628906 191.226562 73.71875 193.089844 C 73.808594 194.953125 73.945312 196.808594 74.128906 198.664062 C 74.3125 200.519531 74.539062 202.371094 74.8125 204.214844 C 75.089844 206.058594 75.40625 207.894531 75.769531 209.722656 C 76.132812 211.550781 76.542969 213.371094 76.996094 215.179688 C 77.449219 216.988281 77.945312 218.785156 78.488281 220.566406 C 79.027344 222.351562 79.613281 224.121094 80.242188 225.878906 C 80.867188 227.632812 81.539062 229.371094 82.253906 231.09375 C 82.964844 232.816406 83.722656 234.519531 84.519531 236.207031 C 85.316406 237.890625 86.152344 239.554688 87.03125 241.199219 C 87.910156 242.84375 88.832031 244.464844 89.789062 246.066406 C 90.746094 247.664062 91.746094 249.238281 92.78125 250.789062 C 93.816406 252.339844 94.890625 253.863281 96 255.359375 C 97.109375 256.859375 98.257812 258.328125 99.441406 259.769531 C 100.621094 261.210938 101.839844 262.621094 103.089844 264.003906 C 104.34375 265.382812 105.628906 266.734375 106.945312 268.050781 C 108.265625 269.371094 109.617188 270.65625 110.996094 271.90625 C 112.378906 273.160156 113.789062 274.375 115.230469 275.558594 C 116.671875 276.742188 118.140625 277.886719 119.636719 279 C 121.136719 280.109375 122.660156 281.183594 124.210938 282.21875 C 125.761719 283.253906 127.335938 284.25 128.933594 285.210938 C 130.53125 286.167969 132.15625 287.085938 133.796875 287.964844 C 135.441406 288.84375 137.109375 289.683594 138.792969 290.480469 C 140.476562 291.277344 142.183594 292.03125 143.90625 292.746094 C 145.628906 293.460938 147.367188 294.128906 149.121094 294.757812 C 150.875 295.386719 152.648438 295.972656 154.429688 296.511719 C 156.214844 297.054688 158.011719 297.550781 159.820312 298.003906 C 161.628906 298.457031 163.445312 298.863281 165.273438 299.226562 C 167.105469 299.59375 168.941406 299.910156 170.785156 300.183594 C 172.628906 300.457031 174.476562 300.6875 176.332031 300.867188 C 178.1875 301.050781 180.046875 301.1875 181.910156 301.28125 C 183.773438 301.371094 185.636719 301.417969 187.5 301.417969 C 189.363281 301.417969 191.226562 301.371094 193.089844 301.28125 C 194.953125 301.1875 196.808594 301.050781 198.664062 300.867188 C 200.519531 300.6875 202.371094 300.457031 204.214844 300.183594 C 206.058594 299.910156 207.894531 299.59375 209.722656 299.226562 C 211.550781 298.863281 213.371094 298.457031 215.179688 298.003906 C 216.988281 297.550781 218.785156 297.054688 220.566406 296.511719 C 222.351562 295.972656 224.121094 295.386719 225.878906 294.757812 C 227.632812 294.128906 229.371094 293.460938 231.09375 292.746094 C 232.816406 292.03125 234.519531 291.277344 236.207031 290.480469 C 237.890625 289.683594 239.554688 288.84375 241.199219 287.964844 C 242.84375 287.085938 244.464844 286.167969 246.066406 285.210938 C 247.664062 284.25 249.238281 283.253906 250.789062 282.21875 C 252.339844 281.183594 253.863281 280.109375 255.359375 279 C 256.859375 277.886719 258.328125 276.742188 259.769531 275.558594 C 261.210938 274.375 262.621094 273.160156 264.003906 271.90625 C 265.382812 270.65625 266.734375 269.371094 268.050781 268.050781 C 269.371094 266.734375 270.65625 265.382812 271.90625 264.003906 C 273.160156 262.621094 274.375 261.210938 275.558594 259.769531 C 276.742188 258.328125 277.886719 256.859375 279 255.359375 C 280.109375 253.863281 281.183594 252.339844 282.21875 250.789062 C 283.253906 249.238281 284.25 247.664062 285.210938 246.066406 C 286.167969 244.464844 287.085938 242.84375 287.964844 241.199219 C 288.84375 239.554688 289.683594 237.890625 290.480469 236.207031 C 291.277344 234.519531 292.03125 232.816406 292.746094 231.09375 C 293.460938 229.371094 294.128906 227.632812 294.757812 225.878906 C 295.386719 224.121094 295.972656 222.351562 296.511719 220.566406 C 297.054688 218.785156 297.550781 216.988281 298.003906 215.179688 C 298.457031 213.371094 298.863281 211.550781 299.226562 209.722656 C 299.59375 207.894531 299.910156 206.058594 300.183594 204.214844 C 300.457031 202.371094 300.6875 200.519531 300.867188 198.664062 C 301.050781 196.808594 301.1875 194.953125 301.28125 193.089844 C 301.371094 191.226562 301.417969 189.363281 301.417969 187.5 C 301.417969 185.636719 301.371094 183.773438 301.28125 181.910156 C 301.1875 180.046875 301.050781 178.1875 300.867188 176.332031 C 300.6875 174.476562 300.457031 172.628906 300.183594 170.785156 C 299.910156 168.941406 299.59375 167.105469 299.226562 165.273438 C 298.863281 163.445312 298.457031 161.628906 298.003906 159.820312 C 297.550781 158.011719 297.054688 156.214844 296.511719 154.429688 C 295.972656 152.648438 295.386719 150.875 294.757812 149.121094 C 294.128906 147.367188 293.460938 145.628906 292.746094 143.90625 C 292.03125 142.183594 291.277344 140.476562 290.480469 138.792969 C 289.683594 137.109375 288.84375 135.441406 287.964844 133.796875 C 287.085938 132.15625 286.167969 130.53125 285.210938 128.933594 C 284.25 127.335938 283.253906 125.761719 282.21875 124.210938 C 281.183594 122.660156 280.109375 121.136719 279 119.636719 C 277.886719 118.140625 276.742188 116.671875 275.558594 115.230469 C 274.375 113.789062 273.160156 112.378906 271.90625 110.996094 C 270.65625 109.617188 269.371094 108.265625 268.050781 106.945312 C 266.734375 105.628906 265.382812 104.34375 264.003906 103.089844 C 262.621094 101.839844 261.210938 100.621094 259.769531 99.441406 C 258.328125 98.257812 256.859375 97.109375 255.359375 96 C 253.863281 94.890625 252.339844 93.816406 250.789062 92.78125 C 249.238281 91.746094 247.664062 90.746094 246.066406 89.789062 C 244.464844 88.832031 242.84375 87.910156 241.199219 87.03125 C 239.554688 86.152344 237.890625 85.316406 236.207031 84.519531 C 234.519531 83.722656 232.816406 82.964844 231.09375 82.253906 C 229.371094 81.539062 227.632812 80.867188 225.878906 80.242188 C 224.121094 79.613281 222.351562 79.027344 220.566406 78.488281 C 218.785156 77.945312 216.988281 77.449219 215.179688 76.996094 C 213.371094 76.542969 211.550781 76.132812 209.722656 75.769531 C 207.894531 75.40625 206.058594 75.089844 204.214844 74.8125 C 202.371094 74.539062 200.519531 74.3125 198.664062 74.128906 C 196.808594 73.945312 194.953125 73.808594 193.089844 73.71875 C 191.226562 73.628906 189.363281 73.582031 187.5 73.582031 Z M 203.773438 227.25 C 203.269531 227.320312 202.765625 227.339844 202.257812 227.304688 C 201.75 227.269531 201.253906 227.179688 200.765625 227.039062 C 200.277344 226.894531 199.808594 226.703125 199.363281 226.460938 C 198.914062 226.21875 198.5 225.929688 198.113281 225.601562 C 197.726562 225.269531 197.382812 224.898438 197.074219 224.496094 C 196.769531 224.089844 196.507812 223.65625 196.296875 223.195312 C 196.082031 222.734375 195.917969 222.253906 195.808594 221.757812 C 195.695312 221.261719 195.640625 220.757812 195.636719 220.25 L 195.636719 201.535156 C 195.632812 200.742188 195.761719 199.972656 196.023438 199.226562 C 196.28125 198.476562 196.65625 197.792969 197.148438 197.171875 C 197.640625 196.550781 198.21875 196.03125 198.886719 195.605469 C 199.554688 195.183594 200.277344 194.878906 201.046875 194.699219 C 201.792969 194.53125 202.527344 194.328125 203.253906 194.089844 C 203.980469 193.851562 204.691406 193.578125 205.390625 193.273438 C 206.089844 192.96875 206.777344 192.628906 207.445312 192.261719 C 208.113281 191.890625 208.761719 191.492188 209.394531 191.0625 C 210.023438 190.628906 210.632812 190.171875 211.222656 189.683594 C 211.808594 189.195312 212.371094 188.683594 212.914062 188.140625 C 213.453125 187.601562 213.964844 187.035156 214.453125 186.449219 C 214.9375 185.859375 215.394531 185.25 215.824219 184.617188 C 216.253906 183.984375 216.652344 183.335938 217.019531 182.664062 C 217.390625 181.996094 217.726562 181.3125 218.03125 180.609375 C 218.332031 179.910156 218.605469 179.195312 218.839844 178.46875 C 219.078125 177.742188 219.28125 177.007812 219.449219 176.261719 C 219.617188 175.519531 219.75 174.765625 219.847656 174.007812 C 219.945312 173.25 220.003906 172.492188 220.03125 171.726562 C 220.058594 170.964844 220.046875 170.203125 220 169.441406 C 219.957031 168.675781 219.875 167.917969 219.757812 167.164062 C 219.640625 166.410156 219.488281 165.660156 219.300781 164.921875 C 219.113281 164.179688 218.894531 163.449219 218.636719 162.730469 C 218.382812 162.011719 218.09375 161.304688 217.773438 160.613281 C 217.449219 159.917969 217.097656 159.242188 216.710938 158.582031 C 216.328125 157.925781 215.910156 157.285156 215.464844 156.664062 C 215.019531 156.042969 214.546875 155.445312 214.046875 154.867188 C 213.542969 154.292969 213.015625 153.742188 212.464844 153.214844 C 211.910156 152.6875 211.332031 152.1875 210.734375 151.714844 C 210.132812 151.242188 209.511719 150.800781 208.871094 150.386719 C 208.226562 149.972656 207.570312 149.589844 206.890625 149.238281 C 206.214844 148.882812 205.519531 148.566406 204.8125 148.277344 C 204.105469 147.992188 203.386719 147.738281 202.652344 147.515625 C 201.921875 147.296875 201.183594 147.113281 200.433594 146.960938 C 199.683594 146.8125 198.929688 146.699219 198.171875 146.617188 C 197.410156 146.539062 196.648438 146.496094 195.886719 146.488281 C 195.121094 146.480469 194.359375 146.507812 193.597656 146.570312 C 192.835938 146.636719 192.082031 146.734375 191.328125 146.867188 C 190.578125 147.003906 189.832031 147.171875 189.097656 147.378906 C 188.363281 147.582031 187.636719 147.820312 186.921875 148.09375 C 186.210938 148.367188 185.511719 148.671875 184.824219 149.007812 C 184.140625 149.347656 183.472656 149.71875 182.824219 150.117188 C 182.171875 150.519531 181.542969 150.949219 180.933594 151.410156 C 180.324219 151.871094 179.738281 152.355469 179.171875 152.871094 C 178.609375 153.386719 178.070312 153.925781 177.558594 154.492188 C 177.042969 155.058594 176.558594 155.648438 176.101562 156.257812 C 175.640625 156.867188 175.214844 157.5 174.816406 158.152344 C 174.414062 158.804688 174.046875 159.472656 173.710938 160.15625 C 173.375 160.84375 173.074219 161.542969 172.804688 162.257812 C 172.53125 162.972656 172.296875 163.699219 172.09375 164.433594 C 171.890625 165.171875 171.726562 165.914062 171.59375 166.667969 C 171.460938 167.417969 171.363281 168.175781 171.300781 168.9375 C 171.242188 169.699219 171.214844 170.460938 171.226562 171.226562 L 171.226562 248.527344 C 171.226562 249.328125 171.148438 250.121094 170.992188 250.90625 C 170.835938 251.695312 170.601562 252.457031 170.296875 253.199219 C 169.988281 253.9375 169.613281 254.640625 169.167969 255.308594 C 168.722656 255.972656 168.21875 256.589844 167.652344 257.15625 C 167.082031 257.722656 166.46875 258.230469 165.800781 258.675781 C 165.132812 259.121094 164.429688 259.496094 163.691406 259.804688 C 162.949219 260.109375 162.1875 260.339844 161.402344 260.496094 C 160.613281 260.652344 159.820312 260.730469 159.019531 260.730469 L 150.882812 260.730469 C 150.082031 260.730469 149.289062 260.652344 148.5 260.496094 C 147.714844 260.339844 146.953125 260.109375 146.210938 259.804688 C 145.472656 259.496094 144.769531 259.121094 144.101562 258.675781 C 143.433594 258.230469 142.820312 257.722656 142.253906 257.15625 C 141.6875 256.589844 141.179688 255.972656 140.734375 255.308594 C 140.289062 254.640625 139.914062 253.9375 139.605469 253.199219 C 139.300781 252.457031 139.066406 251.695312 138.910156 250.90625 C 138.753906 250.121094 138.675781 249.328125 138.675781 248.527344 L 138.675781 172.691406 C 138.65625 170.859375 138.722656 169.03125 138.875 167.207031 C 139.027344 165.382812 139.265625 163.570312 139.589844 161.769531 C 139.917969 159.964844 140.324219 158.183594 140.820312 156.421875 C 141.3125 154.660156 141.890625 152.921875 142.546875 151.214844 C 143.207031 149.507812 143.945312 147.832031 144.761719 146.195312 C 145.578125 144.558594 146.472656 142.960938 147.441406 141.40625 C 148.410156 139.855469 149.449219 138.347656 150.558594 136.894531 C 151.671875 135.441406 152.847656 134.039062 154.09375 132.699219 C 155.335938 131.355469 156.640625 130.074219 158.007812 128.855469 C 159.371094 127.632812 160.792969 126.480469 162.269531 125.398438 C 163.742188 124.3125 165.265625 123.300781 166.835938 122.359375 C 168.40625 121.421875 170.019531 120.554688 171.671875 119.769531 C 173.324219 118.980469 175.011719 118.273438 176.730469 117.648438 C 178.453125 117.019531 180.195312 116.476562 181.96875 116.015625 C 183.742188 115.550781 185.53125 115.175781 187.335938 114.882812 C 189.144531 114.589844 190.960938 114.386719 192.789062 114.265625 C 194.554688 114.242188 196.316406 114.304688 198.074219 114.445312 C 199.835938 114.585938 201.585938 114.808594 203.324219 115.113281 C 205.0625 115.417969 206.785156 115.800781 208.488281 116.265625 C 210.191406 116.726562 211.871094 117.269531 213.523438 117.890625 C 215.175781 118.511719 216.796875 119.207031 218.382812 119.976562 C 219.972656 120.746094 221.519531 121.589844 223.03125 122.503906 C 224.542969 123.417969 226.003906 124.402344 227.421875 125.453125 C 228.84375 126.503906 230.210938 127.617188 231.523438 128.796875 C 232.839844 129.976562 234.097656 131.210938 235.296875 132.507812 C 236.496094 133.800781 237.632812 135.148438 238.707031 136.550781 C 239.78125 137.949219 240.789062 139.398438 241.730469 140.890625 C 242.667969 142.386719 243.539062 143.921875 244.335938 145.496094 C 245.132812 147.070312 245.855469 148.679688 246.503906 150.324219 C 247.152344 151.964844 247.722656 153.632812 248.214844 155.328125 C 248.707031 157.023438 249.121094 158.738281 249.453125 160.472656 C 249.785156 162.207031 250.039062 163.953125 250.207031 165.707031 C 250.378906 167.464844 250.46875 169.226562 250.476562 170.992188 C 250.480469 172.757812 250.40625 174.519531 250.25 176.277344 C 250.09375 178.035156 249.855469 179.785156 249.535156 181.519531 C 249.21875 183.257812 248.816406 184.972656 248.339844 186.671875 C 247.859375 188.371094 247.304688 190.046875 246.667969 191.695312 C 246.035156 193.339844 245.324219 194.957031 244.539062 196.535156 C 243.753906 198.117188 242.898438 199.660156 241.972656 201.160156 C 241.042969 202.664062 240.046875 204.117188 238.984375 205.527344 C 237.921875 206.9375 236.792969 208.292969 235.605469 209.597656 C 234.414062 210.902344 233.167969 212.148438 231.863281 213.339844 C 230.558594 214.527344 229.199219 215.652344 227.789062 216.714844 C 226.378906 217.777344 224.921875 218.769531 223.421875 219.699219 C 221.917969 220.625 220.375 221.480469 218.792969 222.265625 C 217.210938 223.046875 215.597656 223.753906 213.949219 224.390625 C 212.300781 225.023438 210.628906 225.578125 208.925781 226.054688 C 207.226562 226.53125 205.511719 226.929688 203.773438 227.25 Z M 203.773438 227.25 "
                                        fill-opacity="1" fill-rule="nonzero" />
                                </g>
                            </svg>
                        </span>
                        <span class="app-brand-text demo menu-text fw-bolder ms-2">Pinspired</span>
                    </a>

                    <a href="javascript:void(0);"
                        class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
                        <i class="bx bx-chevron-left bx-sm align-middle"></i>
                    </a>
                </div>

                <div class="menu-inner-shadow"></div>

                <ul class="menu-inner py-1">
                    <!-- Forms & Tables -->
                    <li class="menu-header small text-uppercase"><span class="menu-header-text">Menu</span></li>
                    <!-- Tables -->
                    <li class="employee-manager menu-item">
                        <a href="/admin/manager-user" class="menu-link">
                            <i class="menu-icon tf-icons bx bxs-user-rectangle"></i>
                            <div data-i18n="Tables">Qun l ngi dng</div>
                        </a>
                    </li>
                    <li class="attachment-manager menu-item">
                        <a href="/admin/manager-attachment" class="menu-link">
                            <i class='menu-icon tf-icons bx bxs-file-find'></i>
                            {{!-- <i class="menu-icon tf-icons bx bx-devices"></i> --}}
                            <div data-i18n="Tables">Qun l Attachment</div>
                        </a>
                    </li>
                    <li class="category-manager menu-item">
                        <a href="/admin/manager-categories" class="menu-link">
                            <i class="menu-icon tf-icons bx bxl-paypal"></i>
                            <div data-i18n="Tables">Qun l danh mc</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="/admin/manager-post" class="menu-link">
                            <i class="menu-icon tf-icons bx bxl-paypal"></i>
                            <div data-i18n="Tables">Qun l bi ng</div>
                        </a>
                    </li>
                </ul>
            </aside>
            <!-- / Menu -->

            <!-- Layout container -->
            <div class="layout-page">
                <nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
                    id="layout-navbar">
                    <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
                        <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                            <i class="bx bx-menu bx-sm"></i>
                        </a>
                    </div>

                    <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
                        <!-- Search -->
                        <div class="navbar-nav align-items-center">
                            <div class="nav-item d-flex align-items-center">
                                {{!-- <i class="bx bx-search fs-4 lh-0"></i>
                                <input type="text" class="form-control border-0 shadow-none" placeholder="Search..."
                                    aria-label="Search..." /> --}}
                            </div>
                        </div>
                        <!-- /Search -->

                        <ul class="navbar-nav flex-row align-items-center ms-auto">
                            <!-- Place this tag where you want the button to render. -->
                            {{!-- <li class="nav-item lh-1 me-3">
                                <a class="github-button"
                                    href="https://github.com/themeselection/sneat-html-admin-template-free"
                                    data-icon="octicon-star" data-size="large" data-show-count="true"
                                    aria-label="Star themeselection/sneat-html-admin-template-free on GitHub">Star</a>
                            </li> --}}

                            <!-- User -->
                            <li class="nav-item navbar-dropdown dropdown-user dropdown">
                                <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);"
                                    data-bs-toggle="dropdown">
                                    <div class="avatar avatar-online">
                                        <img src="../assets/img/avatars/1.png" id="avatar-user" alt="avatar"
                                            class="w-px-40 h-auto rounded-circle" />
                                    </div>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li>
                                        <a class="dropdown-item" href="#">
                                            <div class="d-flex">
                                                <div class="flex-shrink-0 me-3">
                                                    <div class="avatar avatar-online">
                                                        <img src="../assets/img/avatars/1.png" alt="avatar"
                                                            id="sub-avatar" class="w-px-40 h-auto rounded-circle" />
                                                    </div>
                                                </div>
                                                <div class="flex-grow-1">
                                                    <span class="user-name fw-semibold d-block"></span>
                                                    <small class="role text-muted"></small>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <div class="dropdown-divider"></div>
                                    </li>
                                    <li class="d-none">
                                        <a class="dropdown-item" href="/my-profile">
                                            <i class="bx bx-user me-2"></i>
                                            <span class="align-middle">H s</span>
                                        </a>
                                    </li>
                                    <li>
                                        <div class="dropdown-divider d-none"></div>
                                    </li>
                                    <li>
                                        <a class="cursor-pointer dropdown-item btn-logout">
                                            <i class="bx bx-power-off me-2"></i>
                                            <span class="align-middle">ng xut</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <!--/ User -->
                        </ul>
                    </div>
                </nav>
                {{{body}}}
            </div>

            <!-- / Layout page -->
        </div>

        <!-- Overlay -->
        <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    <!-- / Layout wrapper -->

    <!-- <div class="buy-now">
      <a
        href="https://themeselection.com/products/sneat-bootstrap-html-admin-template/"
        target="_blank"
        class="btn btn-danger btn-buy-now"
        >Upgrade to Pro</a
      >
    </div> -->

    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="../assets/vendor/libs/jquery/jquery.js"></script>
    <script src="../assets/vendor/libs/popper/popper.js"></script>
    <script src="../assets/vendor/js/bootstrap.js"></script>
    <script src="../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

    <script src="../assets/vendor/js/menu.js"></script>
    <!-- endbuild -->

    <!-- Vendors JS -->
    <script src="../assets/vendor/libs/apex-charts/apexcharts.js"></script>

    <!-- Main JS -->
    <script src="../assets/js/main.js"></script>

    <!-- Page JS -->
    <script src="../assets/js/dashboards-analytics.js"></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/viewerjs"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/min/dropzone.min.js"></script>
    <script type="module" src="../js/base.js"></script>

</body>

</html>