div > nav > div {
  background-color: #1e293b !important;
  border-radius: 10px !important;
}

/* li span {
  color: #ffffff !important;
}

ul > li:hover {
  background-color: #145bb8 !important;
} */

.ant-input-affix-wrapper {
  padding: 10px 16px !important;
}

.ant-picker {
  padding: 10px 16px !important;
}

.ant-input-affix-wrapper {
  padding: 0.9rem !important;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  border-radius: 14px !important;
  outline-style: none !important;
  width: 100% !important;
  background: #334155 !important;
  color: #ffffff !important;
  border: none !important;
}

.ant-picker.ant-picker-large {
  padding: 0.9rem !important;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  border-radius: 12px !important;
  outline-style: none !important;
  width: 100% !important;
  background: #334155 !important;
  color: #ffffff !important;
  border: none !important;
}

input[type='file'] {
  color: white;
}
