div > nav > div {
  background-color: #1e293b !important;
  border-radius: 10px !important;
}

/* li span {
  color: #ffffff !important;
}

ul > li:hover {
  background-color: #145bb8 !important;
} */

.ant-input-affix-wrapper {
  padding: 10px 16px;
}

.ant-picker {
  padding: 10px 16px;
}

.ant-input-affix-wrapper.ant-input-affix-wrapper-lg.css-dev-only-do-not-override-1k979oh.ant-input-outlined {
  padding: 0.75rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 12px;
  outline-style: none;
  width: 100%;
  background: #334155;
  color: #ffffff;
  border: none;
}

.ant-picker.ant-picker-large.ant-picker-outlined.css-dev-only-do-not-override-1k979oh.block {
  padding: 0.75rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 12px;
  outline-style: none;
  width: 100%;
  background: #334155;
  color: #ffffff;
  border: none;
}

input[type='file'] {
  color: white;
}
